@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.Admin.cshtml";
}

<h2>@User.Identity.Name</h2>
<div class="hero-unit">
    <h1>Tavan Group Admin </h1>
    <p>Please select option from menu bar.</p>
</div>
