<div class="box-line">
    <div class="box">
        <div class="title-bar">
            <div class="tab1">Title 1</div>
            <div class="tab2">Title 2</div>
            <div class="tab3">Title 3</div>
        </div>
        <div class="content">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="fixed-height">This guide introduces you to using Macromedia Dreamweaver 8. The tutorials in   this guide lead you through the process of creating a simple but functional   website.</td>
                </tr>
                <tr>
                    <td class="more"><a href="#">more...</a></td>
                </tr>
            </table>
        </div>
        <div class="content-2">content 2</div>
        <div class="content-3">content 3</div>
    </div>
    <div class="box center">
        <div class="title-bar">
            <div class="tab1">Title 1</div>
            <div class="tab2">Title 2</div>
            <div class="tab3">Title 3</div>
        </div>
        <div class="content">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="fixed-height">This guide introduces you to using Macromedia Dreamweaver 8. The tutorials in   this guide lead you through the process of creating a simple but functional   website.</td>
                </tr>
                <tr>
                    <td class="more"><a href="#">more...</a></td>
                </tr>
            </table>
        </div>
        <div class="content-2">content 2</div>
        <div class="content-3">content 3</div>
    </div>

    <div class="box right">
        <div class="title-bar">
            <div class="tab1">Title 1</div>
            <div class="tab2">Title 2</div>
            <div class="tab3">Title 3</div>
        </div>
        <div class="content">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="fixed-height">This guide introduces you to using Macromedia Dreamweaver 8. The tutorials in   this guide lead you through the process of creating a simple but functional   website.</td>
                </tr>
                <tr>
                    <td class="more"><a href="#">more...</a></td>
                </tr>
            </table>
        </div>
        <div class="content-2">content 2</div>
        <div class="content-3">content 3</div>
    </div>
</div>

